@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap)
}

@media only screen and (max-device-width: 480px) {
    img {
        width: 80%;
    }
}

body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.name {
    text-align: center;
}
